body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f6ff;
}

/* HEADER TABS */
header {
    background: #1e88e5;
    padding: 10px 0;
}

.tabs {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.tab-btn {
    flex: 1;
    padding: 12px;
    color: white;
    background: transparent;
    border: none;
    font-size: 16px;
}

.tab-btn.active {
    border-bottom: 4px solid #fff;
}

/* FILE BOX */
.file-box {
    margin: 20px;
    text-align: center;
}

#fileInput {
    display: none;
}

.file-box label {
    padding: 12px 20px;
    background: #1e88e5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

/* PREVIEW */
.preview {
    width: 90%;
    max-width: 300px;
    margin: 15px auto;
    display: block;
    border-radius: 10px;
}

/* TOOLS */
.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background: #1e88e5;
    color: white;
    border: none;
    font-size: 17px;
}

h3 {
    margin: 0 0 10px 0;
    text-align: center;
}

/* MOBILE FIX */
@media(max-width: 600px) {
    .tab-btn { font-size: 14px; padding: 10px; }
}