
body {
    font-family: Arial;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #0A84FF;
    color: white;
    border: none;
    border-radius: 5px;
}